* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} /* GLOBAL CONFIG */

html,
body {
  height: 100%;
  background-color: #545454;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.no-padding {
  padding: 0 !important;
}

/* HEADER DO SITE COMEÇA AQUI */

img.responsive{
  width: 100%;
  height: auto;
}

.title{
  display: inline-block;
  position: relative;
}

.title .texto{
  width: 100%;
  position: absolute;
  top: 0;
  padding: 15px 0;
}

.title .setinha{
  width: 100%;
  position: absolute;
  top: 80px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
}

.setinha .svg{
  width: 40px;
  height: 40px;
  background-image: url("../img/arrow-down-outline.svg");  
  background-position: center;
  background-size: cover;
}

.title h1 {
  text-align: center;
  width: 100%;
  color: #5c7621;
}

.title p {
  text-align: center;
  font-weight: bold;
  color: #323f12;
  font-size: 13px;
  padding: 12px 0;
}

/* PRIMEIRA SECTION */
section.section-one {
  width: 100%;
}

.section-one .article-wrapper {
  height: 100%;
  display: flex;
  width: 100%;
}

.article {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3% 1%;
}

.article .image {
  width: 275px;
  height: 185px;
  background-image: url("../img/main.png");
  background-position: center;
  background-size: cover;
  border: 8px solid rgb(177, 177, 177);
}

.article h1 {
  padding: 16px 0;
  font-size: 20px;
}

.article p {
  font-size: 13px;
}

/* SEGUNDA SECTION */
section.section-two {
  width: 100%;
  height: 400px;
  padding: 32px;
  background: #929292;
}

.section-two .section-wrapper {
  display: flex;
  flex-direction: row;
}

.section-two .img-wrap {
  width: 40%;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-two .rounded-image {
  width: 60%;
  height: 300px;
  background-image: url("../img/main.png");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 12px solid rgb(30, 30, 30);
}

.section-two .text-wrap {
  width: 60%;
  height: 360px;
  display: flex;
  align-items: center;
}

.section-two .text {
  color: white;
}

.text p {
  font-size: 13px;
}

.text h1 {
  font-size: 20px;
  padding-bottom: 18px;
}

/* FOOTER */
footer {
  padding: 18px 2%;
  background-color: #545454;
  text-align: center;
  font-weight: bold;
  color: white;
}

/* MEDIA QUERY RESPONSIVE PROPERTIES */

@media screen and (max-width: 880px){

  html,
  body {
    background-color: #545454;
  }

  img.responsive{
    margin-top: 80px;
  }

  .title .texto{
    padding: 8px 0;
  }

  .texto h1{
    font-size: 20px;
  }

  .texto h1, .texto p{
    color: white;
  }

  section.section-one{
    height: auto;
    background: #525252;
    padding: 2% 6%;
  }

  .section-one .article-wrapper {
    flex-direction: column;
  }

  .section-one .article:first-of-type{
    padding-top: 20px !important;
  }

  section.section-two{
    background-color: #929292;
    height: auto;
    padding-top: 30px;
  }

  .section-two .section-wrapper {
    align-items: center;
    flex-direction: column;
  }

  .section-two .img-wrap{
    width: 100%;
    height: auto;
  }

  .section-two .rounded-image{
    width: 60%;
  }

  .section-two .text-wrap{
    width: 100%;
    height: auto;
    padding: 16px 8px;
    text-align: center;
  }
}

/* MOBILE LARGE */
@media screen and (max-width: 426px) {

  .container {
    max-width: 425px !important;
  }

  .texto h1{
    font-size: 17px;
  }

  .texto p{
    font-size: 11px;
  }

  .main-image {
    background-size: contain;
    width: 100%;
    height: 400px;
    padding: 10px;
    background-color: #525252;
  }

  .main-image .title{
    height: fit-content;
  }

  .main-image h1 {
    padding-top: 4px;
    font-size: 15px;
    color: white;
  }
  
  .main-image p {
    font-size: 11px;
    padding: 8px 0;
    color: white;
  }

  .section-two .rounded-image{
    width: 85%;
  }
}

/* MOBILE MEDIUM */
@media screen and (max-width: 376px) {
  
  section.section-two{
    padding-top: 16px;
  }

  .section-two .img-wrap{
    width: 100%;
    height: auto;
  }

  .section-two .rounded-image{
    width: 90%;
    background-size: cover;
    height: 220px;
  }

  .section-two .text-wrap{
    width: 100%;
    height: auto;
    padding: 8px 0;
    text-align: center;
  }

  .article{
    padding: 20px;
  }

  /* .section-two .rounded-image a{
    width: 60%;
    height: 300px;
    background-image: url("../img/main.png");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 12px solid rgb(30, 30, 30);
  } */
}

